<section class="phx-hero"  id="playGame">
  <h1><%= gettext "Welcome to Battle Ships game!" %></h1>
  <p>Choose your name to enter the game!</p>


<div align="center">
	Name: <input name="name" id="name">
	<button class="center" id="playButton">Play</button>
</div>
</section>
<div align="center" class="center" id="logoutGame">
	<button class="center leftBox" id="logOutButton" >Log out</button>
  <h2 class="center rightBox" id="playerNameLabel"><h2/>
</div>


<div class="row" id="playSection">
  <div class="col-md-3" id="inviteSection">
  	<div class="down">
	    <h4 class="center">Players</h4>
	    <select id="players" class="messages" size="30"></select>
      <button class="center center2" id="invitePlayerButton">Invite Player!</button>
	  </div>
  </div>
  <div class="col-md-6">
  	<h4 class="center">Your Board</h4>
    <canvas id="canvas1" class="canvas" width="300" height="300"></canvas>
  </div>
  <div class="col-md-6">
  	<h4 class="center">Enemy Board</h4>
    <canvas id="canvas2" class="canvas" width="300" height="300"></canvas>
  </div>
</div>
<div class="row" id="turn">
  <h2 class="center" id="turnLabel"></h2>
</div>
